body{
    margin-top: 10px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6
  }
  .container{
    width: 500px;
    margin: 0 auto;
  }
   
  .tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }
   
  .tab-link.current{
    background: #ededed;
    color: #222;
  }
   
  .tab-container{
    display: none;
    padding: 15px;
  }
   
  .tab-container.current{
    display: inherit;
    background: #ededed;
  }

  .content-link.current{
      background: #c9c9c9;
  }

  .content{
    display: none;
    padding: 15px;
  }
   
  .content.current{
    display: inherit;
    background: #c9c9c9;
  }




